 <div id='pp-2' class="alert alert-success" >
      <h1 class="text">title </h1>
    <input type="text" id="blog-name" > 
  <hr id="line">
    <h1 class="text"> content </h1>
    <textarea  class="comment" type="text" id="blog-content"> </textarea> 
    <br> 
    <button  class="btn btn-primary" id="create-form" >Create</button>
 
</div>
 <script src="../js/addblog.js"> </script>